@font-face {
  font-family: 'Comfortaa';
  src: url('./assets/fonts/comfortaa/Comfortaa-VariableFont_wght.ttf') format('truetype');
}

:root {

  /* CSS Primary variables */
  color-scheme: light dark;
  --primary-font: 'Comfortaa', sans-serif;
  --primary-color: light-dark(#1EBEF0, #E9262A);
  --primary-color-75: light-dark(#1EBEF0C0, #E9262AC0);
  --primary-color-50: light-dark(#1EBEF080, #E9262A80);
  --primary-color-35: light-dark(#1EBEF055, #E9262A55);
  --primary-color-25: light-dark(#1EBEF040, #E9262A40);
  --secondary-color: light-dark(#FFFFFF, #1D1D1D);
  --background-color: light-dark(#FFFFFF, #1D1D1D);
  --primary-text-color: light-dark(#1EBEF0, #E9262A);
  --secondary-text-color: light-dark(#FFFFFF, #1D1D1D);
  --error-color: light-dark(#FF0000, #800000);

  background-color: var(--background-color);
  font-family: var(--primary-font);
  font-size: 16px;
  color: var(--primary-text-color);
  transition: all 0.3s ease;
}